<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to indexx</title>
  </head>
  <body>
    <style media="screen">
      p{
        font-size: 25px;
        font-style: italic;
        color: blue;
      }
    </style>
    <h1>Index2#indexx'</h1>
    <p>Find me in app/views/index2/indexx.html.erb78787878778787</p>
    <p><b><%=@variable1%></b></p>
    <h2><%=@var2%></h2>
    <button class="btn btn-primary" name="button">Boton 1</button>
    <button class="btn btn-success" name="button2">Boton 2</button>

    <%= link_to "Go_to_index_index", index_index_path %>

  </body>
</html>
